{% extends 'films/base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<section class="about">
    <div class="container">
        <h1>О нас</h1>
        <p>Добро пожаловать в SpotFilms! Мы - команда, которая создаёт уникальную платформу для поиска фильмов и покупки билетов в интересные места из истории кино.</p>

        <h2>Наша миссия</h2>
        <p>Объединить любителей кино и путешествий, предоставляя удобный инструмент для просмотра информации о фильмах и планирования поездок к местам их съёмок.</p>

        <h2>Команда</h2>
        <ul>
            <li>Яроцкий Максим || back-end разработчик</li>
            <li>Момотенко Кирилл || front-end разработчик</li>

        </ul>

        <h2>Контакты</h2>
        <p>Если у вас есть вопросы, предложения или замечания, свяжитесь с нами:</p>
        <ul>
            <li>Email: <a href="mailto:maksimiarotskiy08@gmail.com">maksimiarotskiy08@gmail.com</a></li>
            <li>Телефон: +7 000 000 00 00</li>
        </ul>
    </div>
</section>
{% endblock %}
