{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'films/css/style.css' %}">

</head>
<body>
    <!-- Навигационная панель -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'movie-list' %}">SpotFilms</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'movie-list' %}">Популярные фильмы</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <!-- Основной контент -->
    <main class="content">
        {% block content %}
        <!-- Контент будет здесь -->
        {% endblock %}
    </main>

    <!-- Футер -->
    <footer class="footer">
        <section class="socials">
            <h2>Свяжитесь с нами</h2>
            <div class="social-icons">
                <a href="#"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/facebook-icon.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/twitter-icon.png' %}" alt="Twitter"></a>
                <a href="#"><img src="{% static 'images/email-icon.png' %}" alt="Email"></a>
            </div>
        </section>

        <section class="footer-links">
            <div>
                <h3>Компания</h3>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Работа</a></li>
                    <li><a href="#">Инвесторы</a></li>
                    <li><a href="#">Медиацентр</a></li>
                </ul>
            </div>
            <div>
                <h3>Политика</h3>
                <ul>
                    <li><a href="#">Конфиденциальность</a></li>
                    <li><a href="#">Правила пользования</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Справочный центр</a></li>
                </ul>
            </div>
        </section>

        <section class="copyright">
            <p>&copy; 2023 FilmsLand. Все права защищены.</p>
            <p>Создано: Нами</p>
        </section>
    </footer>

    <!-- Скрипты -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
