{% extends 'films/base.html' %}
{% load static %}


{% block title %}Детальная информация{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'films/css/movie_detail.css' %}">
{% endblock %}

  <body>
    {% block content %}
    <section class="movie-detail">
      <div class="movie-info">
        <h1>{{ movie.title }}</h1>

        <!-- Отображение постера фильма -->
        {% if movie.poster %}
        <img
          src="{{ movie.poster.url }}"
          alt="{{ movie.title }} Poster"
          class="movie-poster"
        />
        {% else %}
        <img
          src="{% static 'images/default-movie-poster.jpg' %}"
          alt="Default Poster"
          class="movie-poster"
        />
        {% endif %}

        <!-- Основная информация о фильме -->
        <p><strong>Год выпуска:</strong> {{ movie.release_year }}</p>
        <p><strong>Описание:</strong> {{ movie.description }}</p>

        <!-- Локация фильма, если есть -->
        {% if movie.location and movie.location.image %}
        <div class="movie-location">
          <img
            src="{{ movie.location.image.url }}"
            alt="{{ movie.location }}"
            class="location-image"
          />
          <p>Местоположение: {{ movie.location }}</p>
        </div>
        {% else %}
        <p>Местоположение: Не указано</p>
        {% endif %}

<div class="center-container">
  <form id="city-selection-form" class="flight-form">
    <label for="origin">Выберите город вылета:</label>
    <select id="origin" name="origin">
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Екатеринбург">Екатеринбург</option>
        <option value="Новосибирск">Новосибирск</option>
        <option value="Казань">Казань</option>
        <option value="Краснодар">Краснодар</option>
        <option value="Владивосток">Владивосток</option>
        <option value="Уфа">Уфа</option>
        <option value="Калининград">Калининград</option>
        <option value="Самара">Самара</option>
        <option value="Ростов-на-Дону">Ростов-на-Дону</option>
        <option value="Воронеж">Воронеж</option>
    </select>

    <label for="destination">Город назначения:</label>
    <select id="destination" name="destination">
      <option value="{{ movie.location.city }}">{{ movie.location.city }}</option>
    </select>

    <button type="submit">Найти билеты</button>
  </form>
</div>



        <a href="{% url 'movie-list' %}" class="back-to-list"
          >Вернуться к списку фильмов</a
        >
      </div>
    </section>
    {% endblock %}
  </body>
</html>
